<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Hashtagram Miller</title>
<link href="/css/style.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/hashtagram.js"></script>
<script src="/js/script.js"></script>
<script type="text/javascript" charset="utf-8">
var my_server = "<%= server %>";
</script>
</head>

<body>
<img src="/images/logo_miller.png" alt="Logo Miller" class="center logo" />
<span class="claim center">
	<p>Subí una foto a Instagram con el tag #millercalvinharris</p>
</span>

<section class="hash center">
	<img src="/images/image1.jpg" class="hash_image"/>
    <section class="hash_info center">
    	<div class="hash_texto">
        	<span>Entendes de que se trata esto y esta bueno #millercalvinharris</span>
        </div>
        <span class="hash_user">
        	jscappini
        </span>
    </section> <!-- /info -->
</section>

</body>
</html>
